---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>Cristal is Watching</h1>
  <p class="doc">
    <%= link_to "Read Online Cristal Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
